# Lesson 8  

How to pull data from a microsoft sql database

In [1]:
# Import libraries
import pandas as pd
import sys
from sqlalchemy import create_engine, MetaData, Table, select

In [2]:
print 'Python version ' + sys.version
print 'Pandas version: ' + pd.__version__

Python version 2.7.10 |Anaconda 2.3.0 (64-bit)| (default, May 28 2015, 17:02:03)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
Pandas version: 0.16.2

# Version 1  

In this section we use the ***sqlalchemy*** library to grab data from a sql database. Make sure to use your own ***ServerName***, ***Database***, ***TableName***.

In [3]:
# Parameters
ServerName = "RepSer2"
Database = "BizIntel"
TableName = "DimDate"

# Create the connection
engine = create_engine('mssql+pyodbc://' + ServerName + '/' + Database)
conn = engine.connect()

# Required for querying tables
metadata = MetaData(conn)

# Table to query
tbl = Table(TableName, metadata, autoload=True, schema="dbo")
#tbl.create(checkfirst=True)

# Select all
sql = tbl.select()

# run sql code
result = conn.execute(sql)

# Insert to a dataframe
df = pd.DataFrame(data=list(result), columns=result.keys())

# Close connection
conn.close()

print 'Done'

ImportError: No module named pyodbc

Select the contents in the dataframe.

In [ ]:
df.head()

In [ ]:
df.dtypes

Convert to specific data types. The code below will have to be modified to match your table.

In [ ]:
# Convert data types 
df.StandardDate = pd.to_datetime(df.StandardDate)
df.Year = df.Year.astype('int')

print 'Data Types'
print df.dtypes

# Version 2

In [ ]:
import pandas.io.sql
import pyodbc

In [ ]:
# Parameters
server = 'repser2'
db = 'BizIntel'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + db + ';Trusted_Connection=yes')

# query db
sql = """

SELECT top 5 *
FROM DimDate

"""
df = pandas.io.sql.read_sql(sql, conn)
df.head()

# Version 3

In [ ]:
from sqlalchemy import create_engine

In [ ]:
# Parameters
ServerName = "RepSer2"
Database = "BizIntel"

# Create the connection
engine = create_engine('mssql+pyodbc://' + ServerName + '/' + Database)

df = pd.read_sql_query("SELECT top 5 * FROM DimDate", engine)
df

**Author:** [David Rojas](http://www.hedaro.com/)