# Lesson 10  

* From DataFrame to Excel  
* From Excel to DataFrame  
* From DataFrame to JSON  
* From JSON to DataFrame

In [1]:
import pandas as pd
import sys

In [2]:
print 'Python version ' + sys.version
print 'Pandas version: ' + pd.__version__

Python version 2.7.10 |Anaconda 2.3.0 (64-bit)| (default, May 28 2015, 17:02:03)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
Pandas version: 0.16.2

# From DataFrame to Excel

In [3]:
# Create DataFrame
d = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(d, columns = ['Number'])
df

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [4]:
# Export to Excel
df.to_excel('Lesson10.xlsx', sheet_name = 'testing', index = False)
print 'Done'

Done

# From Excel to DataFrame

In [6]:
# Path to excel file
# Your path will be different, please modify the path below.
location = r'Lesson10.xlsx'

# Parse the excel file
df = pd.read_excel(location, 0)
df.head()

   Number
0       1
1       2
2       3
3       4
4       5

In [ ]:
df.dtypes

In [ ]:
df.tail()

# From DataFrame to JSON

In [ ]:
df.to_json('Lesson10.json')
print 'Done'

# From JSON to DataFrame

In [ ]:
# Your path will be different, please modify the path below.
jsonloc = r'C:\Users\david\notebooks\pandas\Lesson10.json'

# read json file
df2 = pd.read_json(jsonloc)

In [ ]:
df2

In [ ]:
df2.dtypes

**Author:** [David Rojas](http://www.hedaro.com/)